.place__url-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  color: #AAA;
  letter-spacing: 0.2em;
}

@media screen and (max-width: 450px)  {
  .place__url-title {
    margin-left: 16px;
  }
}
