.intro__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  margin: 40px 0 31px 0;
  max-width: 690px;
  height: 210px;
}

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 720px;
  }
 }

 @media screen and (max-width: 425px) {
  .intro__text {
    max-width: 288px;
    height: 520px;
    margin-bottom: 33px;
  }
 }
