.cover {
  margin: 92px auto 0 auto;
  max-width: 100%;
  height: 740px;
  background-image: url(/images/cover/cover-trains.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
